---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if page.latest_posts and page.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
    <!-- Experience in main page from https://github.com/NimaFathi/NimaFathi.github.io/
    <h3><a style="color: inherit;">Experience</a></h3>
    <br>


      <table border="0">
              <tbody>

      <tr>
      <td width="80" style="vertical-align: middle;"><img src='../assets/img/servicenow-header-logo.png'  border="1" width="100%"></td>
      <td width="20"></td>
      <td> 
              <p style="margin: 0; padding: 0;"><strong>

          <a href=https://www.servicenow.com/research/author/nima-fathi.html target='_blank'>ServiceNow</a>
          </strong>
      </p>
          <p style="margin: 0; padding: 0;">Visiting Researcher, </p>


          <p style="font-size: 10pt; margin: 0; padding: 0;">2024.07 - Present</p>
          <p style="font-size: 10pt; margin: 0; padding: 0;">montreal, QC</p>

      </td>  
      </tr>
      <tr height="10"></tr>


      <tr>
      <td width="80" style="vertical-align: middle; text-align: center;"><img src='../assets/img/epfl.png' border="1" width="80%"></td>
      <td width="20"></td>
      <td> 
              <p style="margin: 0; padding: 0;"><strong>

          <a href=https://www.epfl.ch/labs/vita/ target='_blank'>EPFL </a>
          </strong>
      </p>
          <p style="margin: 0; padding: 0;">Research Intern</p>


          <p style="font-size: 10pt; margin: 0; padding: 0;">Lausanne, Switzerland</p>

      </td>  
      </tr>
      <tr height="10"></tr>


      <tr></tr>
      <td width="80" style="vertical-align: middle; text-align: center;"><img src='../assets/img/divar.jpeg' border="1" width="80%"></td>
      <td width="20"></td>
      <td> 
              <p style="margin: 0; padding: 0;"><strong>

          <a href=https://divar.ir/ target='_blank'>Divar</a>
          </strong>
      </p>
          <p style="margin: 0; padding: 0;">Senior Software Engineer</p>


          <p style="font-size: 10pt; margin: 0; padding: 0;">2021.01 - 2021.08</p>
          <p style="font-size: 10pt; margin: 0; padding: 0;">Tehran, Iran</p>

      </td>  
      </tr>
      <tr height="10"></tr>

      <tr></tr>
      <td width="80" style="vertical-align: middle; text-align: center;"><img src='../assets/img/yektanet.png' border="1" width="80%"></td>
      <td width="20"></td>
      <td> 
              <p style="margin: 0; padding: 0;"><strong>

          <a href=https://www.yektanet.com/blog target='_blank'>Yektanet Inc. </a>
          </strong>
      </p>
          <p style="margin: 0; padding: 0;">Senior Software Engineer & Data Scientist</p>


          <p style="font-size: 10pt; margin: 0; padding: 0;">2020.05 - 2021.01</p>
          <p style="font-size: 10pt; margin: 0; padding: 0;">Tehran, Iran</p>

      </td>  
      </tr>
      <tr height="10"></tr>



      </tbody>
      </table>
      -->
  </article>
</div>
